*{
    box-sizing: border-box;
}

body{
    width: 100%;
}
/* HEADER */
header{
    width: 100%;
    height: 20vh;
}
header img{
    height: 30vh;
    width: auto;
    margin-left: 2vw;
}

/* NAVIGATION */

/* FOOTER */
