@import url('https://fonts.googleapis.com/css?family=Secular+One');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    width: 100%;
    font-family: 'Ubuntu';
}

section{
    padding: 2vw 5vw 0px 5vw;
}

h2{
    font-size: 2em;
    font-weight: bold;
    color: #693056;
    margin-bottom: 1vw;
}

article{
    text-align: justify;
}

/* BUTTON */

.button {
    border: none;
    color: white;
    padding: 1vw 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
/* HEADER */

header{
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: space-around;
}
header img{
    height: 30vh;
    width: auto;
    margin-left: 0.5vw;
    margin-top: 0.5vw;
    -webkit-transform: skew(0deg, 7deg);
    transform: skew(0deg, 7deg);
    transform: translateY(130px);
}

.bg-skew {
    height: 50vh;
    background: linear-gradient(#D5C2CF, #A16E90);
    -webkit-transform: skew(0deg, -7deg);
    transform: skew(0deg, -7deg);
    padding: 70px 0;
    margin-top: -250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header > nav {
    transform: translateY(265px);
    height: 2vh;
    width:70%;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Secular One', sans-serif;
    font-variant: small-caps;
    font-size: 1.3em;
}

header a{
    color: aliceblue;
    text-decoration:none;
    height: 2.2vw;
}

header a:hover{
    border-bottom: 3px solid #874973;
    text-shadow: 2px 2px 4px #874973
}

#head{
    background-image: linear-gradient(transparent 85%, rgba(255,255,255,1) 99%), url('../img/pres2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width:100vw;
}

/* PRESENTATION */
#presentation{
    display: flex;
    justify-content: space-between;
    height: 50vh;
}
#presentation img{
    width: 40vw;
     border-radius: 2%;
}

#presentation article{
    width: 48vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FORMATION */

#formation article{
    background-color: #C49DB7;
    padding: 2vw 2vw 2vw 2vw;
    border-radius: 20px;
    color: #FDF7F7;
}

#formation .button{
    float: right;
    background-color: #8A316B;
}

#formation .button:hover{
     background-color: #A05084;
}

/* MEMBRE */
#membres{
    height: 50vh;
}
#membres article{
    display: flex;
}

#membres article > div:first-child{
    width: 70vw;
}

#listeMembre{
    height: 50vh;
    overflow: scroll;
}
#listeMembre figure{
    display: flex;
    align-content: center;
    margin-bottom: 2px;
    margin-left: 1vw;
}

#details{
    border-right: 3px solid #8A316B;
}

#details img{
    float: left;
}
/* FOOTER */
footer {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

footer img{
    height:4vw;
    width: auto;
}
figure > img{
    border-radius: 50px;
 }

#details > img{
    border-radius: 10px;
}